<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fouroo.nose.mapper.NewsEventsMapper" >
  <resultMap id="BaseResultMap" type="com.fouroo.nose.entity.NewsEvents" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createid" property="createid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="style" property="style" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIME" />
    <result column="extra1" property="extra1" jdbcType="VARCHAR" />
    <result column="extra2" property="extra2" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fouroo.nose.entity.NewsEvents" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createid, title, type, style, createtime, extra1, extra2, imagepath
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_events
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news_events
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fouroo.nose.entity.NewsEvents" >
    insert into news_events (id, createid, title, 
      type, style, createtime, 
      extra1, extra2, imagepath, 
      content)
    values (#{id,jdbcType=INTEGER}, #{createid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{style,jdbcType=INTEGER}, #{createtime,jdbcType=TIME}, 
      #{extra1,jdbcType=VARCHAR}, #{extra2,jdbcType=VARCHAR}, #{imagepath,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fouroo.nose.entity.NewsEvents" >
    insert into news_events
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createid != null" >
        createid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="extra1 != null" >
        extra1,
      </if>
      <if test="extra2 != null" >
        extra2,
      </if>
      <if test="imagepath != null" >
        imagepath,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="style != null" >
        #{style,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIME},
      </if>
      <if test="extra1 != null" >
        #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null" >
        #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fouroo.nose.entity.NewsEvents" >
    update news_events
    <set >
      <if test="createid != null" >
        createid = #{createid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIME},
      </if>
      <if test="extra1 != null" >
        extra1 = #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null" >
        extra2 = #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        imagepath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fouroo.nose.entity.NewsEvents" >
    update news_events
    set createid = #{createid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      style = #{style,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIME},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      imagepath = #{imagepath,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fouroo.nose.entity.NewsEvents" >
    update news_events
    set createid = #{createid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      style = #{style,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIME},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      imagepath = #{imagepath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>