<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fouroo.nose.mapper.StaticResourceMapper" >
  <resultMap id="BaseResultMap" type="com.fouroo.nose.entity.StaticResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIME" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, path, type, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from static_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from static_resource
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from static_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fouroo.nose.entity.StaticResource" >
    insert into static_resource (id, path, type, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.fouroo.nose.entity.StaticResource" >
    insert into static_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fouroo.nose.entity.StaticResource" >
    update static_resource
    <set >
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIME},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fouroo.nose.entity.StaticResource" >
    update static_resource
    set path = #{path,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIME}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>